# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.env

# Uploads and Outputs (very important!)
uploads/
*.pptx

# IDE specific
.vscode/
.idea/

# macOS specific
.DS_Store